
*.sql
*.db
*.sqlite
*.mdb

*.xlsx
*.xls
*.csv

.venv/
node_modules/
*.log
IRENA_files/analytics.js.descarga
IRENA_files/app.js.descarga
IRENA_files/default.css
IRENA_files/gtm.js.descarga
IRENA_files/IRENA_logo.svg
IRENA_files/js
IRENA_files/print.css
IRENA_files/Procurement_header.jpg
IRENA_files/ufn5mhzznt
IRENA.html
